:root {
  --color1: #1a4341;
  --color2: #998234;
  --color3: #f3ac3c;
  --color4: #0b2429;
}

section#playground {
  background: var(--color1);
  position: relative;
}

div { 
  width: 75px;
  height: 150px;
  background: var(--color2);
  border-radius: 100px 0 0 100px;
  position: absolute;
  left: 125px; top: 75px;
}

div:after {
  content: '';
  width: 100px; height: 100px;
  background: var(--color3);
  position: absolute;
  bottom: 75px; left: 75px;
  border-radius: 0 100px 0 0
}

div:before {
  content: ''; 
  width: 30px; height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 30px; left: 30px;
  background: var(--color4)
}