:root { --color1: #62306D; --color2: #F7EC7D; --color3: #AA445F; --color4: #E38F66;}
#playground {
    background: var(--color1); position: relative;
    display: flex; align-items: flex-end; justify-content: center;
}

div { width: 100px; height: 100px; background: var(--color2); position: relative;}
div:nth-of-type(2) { height: 200px;}
div:after { 
    display: block;
    content: '';
    width: 60px;
    height: 60px;
    background: var(--color4);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 50%;
    box-shadow: 0 0 0 20px var(--color3)
}
div:nth-last-of-type(2)::after {
    box-shadow: 0 0 0 20px var(--color4);
    background: var(--color3);
}