#playground {
    background: #222730; position: relative;
}

div {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 140px solid transparent;
  border-top: 140px solid #F3AC3C;
}