section#playground {
  background: #aa445f;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}



  div { 
    width: 250px; height: 200px; border-radius: 100px;
    background: linear-gradient(to right, #f7ec7d 100px, #aa445f 100px 150px, #e38f66 150px)
  }

