* { margin: 0;}
  :root { --color1: #1A4341; --color2: #F3AC3C; --color3: #998235;}


 

section#playground {
  background: var(--color1); 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

div { 
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}

span { 
  display: block;
  height: 20px;
  background: var(--color2);
  z-index: 10;
  margin: 10px 0;
}

div:before, div:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

div:before { 
  width: 200px; height: 200px; background:var(--color3);
  border-radius: 50%;
}

div:after { 
  width: 200px; height: 140px; background: var(--color1)
;}