#playground {
    background: #f2f2b6; position: relative;
}

div{ 
  width: 0; height: 0;
  position: absolute;
}

#to, #br, #tr, #bo { 
  border-style: solid;
 border-width: 75px;
 border-color: transparent;
 border-top: 130px solid;
}

#to {
 top: 85px; left: 60px;
 border-top-color: #ff6d00; z-index:1
}

#br { top: 85px; left: 80px; border-top-color: #FD4602;}
#bo { top: 10px; left: 170px; border-top-color: #FD4602; transform: rotate(180deg)}
#tr { top: 10px; left: 190px; border-top-color: #Ff6d00; transform: rotate(180deg)}