section#playground {
  background: transparent;
  position: absolute;
  
}

#playground:before, #playground:after {
  position: absolute;
  content: '';
  height: 50px;
  width: 200px;
  top: 50%;
  left: 50%;
  mix-blend-mode: screen;
}

#playground:before {
  background: #F3AC3C;
  transform: translate(-50%, -50%) rotate(45deg);
}

#playground:after {
  background: #A3A368;
  transform: translate(-50%, -50%) rotate(-45deg);
}




 

